name: Deploy to Server Fedora (Self-Hosted)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # GANTI INI: Dari 'ubuntu-latest' menjadi 'self-hosted'
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Update Project
        run: |
          cd /var/www/html/siswa
          git pull origin main
          php artisan config:cache
          echo "Deployment Berhasil lewat Runner Lokal!"